li.a{
display:inline;
margin-left:35px;



}

li.a:hover{
    opacity:.75;  
    border-radius: 5px;
    
}

.b{

background-image:url("../css/black.jpeg");
 background-position: center;
 background-size:70%;
 background-repeat:no-repeat;


 
}

b.backphoto{
    margin-left:30%;
    color:white;
}