li.a{
display:inline;
margin-left:35px;



}

li.a:hover{
    opacity:.75;  
    border-radius: 5px;
    
}

.b{

background-image:url("../css/blacksky1.jpeg");
 background-position: center;
 background-size:70%;
 background-repeat:no-repeat;

 
}