input{

 margin:10px 10px;
 border-radius:5px;
 background-color:white;
 color:rgb(77, 77, 255);
 border:hidden;
 width:30%;
 padding-top:5px;
padding-bottom:5px;


}

input:hover{
 background-color:rgb(77, 77, 255);
 color:white;
 transition-duration: 300ms;
 

}

div.z{
    border-radius:20px;

    width:70%;
    margin-left:15%;
    padding-top:15px;
    padding-bottom:15px;
    
}

h4{
  padding-top:10px;
  color:white;
  background-color:rgb(255, 115, 0);
  border-radius:5px;
  width:70%;
  margin-left:15%;
  padding-top:15px;
  padding-bottom:15px;
  
}

div.c{

  padding-top:10px;
  background-color:white;
  
  width:70%;
  margin-left:15%;
  padding-top:15px;
  padding-bottom:15px;
  
}

div.c{
  background-color:rgb(255, 115, 0);
}

